@import "tailwindcss";

@theme {
  --color-primary: #D1FF00;
  --color-surface: #161616;
  --color-background: #0A0A0A;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-[#F0F0F0];
  }
}
